<h3>Edit Post</h3>

<%= form_for @post, url: post_path, method: :put do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <br>
  <%= f.submit "Submit" %>
<% end %>